.sidebar {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    width: 250px;
}

.nav-sidebar {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.container-my {
    max-width: 750px;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 0;
}

.container-my-xl {
    max-width: 1100px;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    padding-top: 0;
    margin-top: -24px;
    padding-right: 0;
    padding-left: 0;
}
.btn-block-my {
    width: 100px;
}
.container-my-xl-1 {
    max-width: 1100px;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    padding-top: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
}
.card-header-my {
    margin-top: -24px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}