<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/static.css/main.css}"
          href="../../webapp/resources/static.css/main.css"/>
</head>

<body class="bg-light">

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-12" th:replace="fragments/header :: header"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                <h1>User information: </h1>
            </div>
            <div class="container-my">
                <table class="table table-striped bg-white border bg-dark" th:object="${user}">
                    <tr>
                        <td> Имя</td>
                        <div th:switch="*{firstName}">
                            <td th:case="''"> Не указано</td>
                            <td th:case="*{firstName}" th:text="*{firstName}"></td>
                        </div>
                    </tr>
                    <tr>
                        <td> Фамилия</td>
                        <div th:switch="*{lastName}">
                            <td th:case="''"> Не указана</td>
                            <td th:case="*{lastName}" th:text="*{lastName}"></td>
                        </div>
                    </tr>
                    <tr>
                        <td> Возраст</td>
                        <div th:switch="*{age}">
                            <td th:case="'0'"> Не указан</td>
                            <td th:case="*{age}" th:text="*{age}"></td>
                        </div>
                    </tr>
                    <tr>
                        <td> E-mail</td>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <td>Твои роли</td>
                        <td th:text="*{roles}"></td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>


